*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}


li , a , p,button ,body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 2.5vh;
    text-decoration: none;
}

header ,.intro,.body_characters,.join_team_header,.quote,.join_matrix,.footer{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url(images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding:2vh 10%;
    color: white;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    font-size: 6vh;
}

.menu_links{
    position:sticky;
    list-style: none;
   
}
.menu_links li{
    display: inline-block;
    padding: 0px 2vh;
  
}
.menu_links li a {
    transition: all 0.3s ease 0s;
    color: rgb(143, 204, 241);
}
.menu_links li a:hover {
    color:rgb(0, 136, 168,0.6);
}
button{
    margin-left: 2vh;
    padding:2vh 2.5vh;
    background-color: rgb(143, 204, 241);
    border:none;
    border-radius: 5vh;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgb(0, 136, 168,0.6);
    border: none;
  
    border-radius: 15px;
    box-shadow: inset 0 0 8px #f9f8fc;
}

main{
    display: flex;
}

.intro{
   padding: 100px 10%; 
   justify-content: space-between;  
}
.welcome{
    flex: 1;
    height: auto;
    text-align:left;
    
    
   
}
.first_part_content{
    display: flex;
    flex-direction: column;
    gap: 30px;
  
   
    
}

.first_part_content img{
    border-style: none;
    border-radius: 60%;
}
.first_part_content p{
    width: 50vh;
}

.join_team_header{
    font-family: 'Courier New', Courier, monospace;
    padding:5vh 32%;
}
.body_characters{
    display:flex;
    justify-content: space-between;
    align-content:center;
    align-items:flex-start;
    gap:20vh;
    padding:0vh 10%;  
}
.quote {
    text-shadow: 0 0 5px  rgb(143, 204, 241), 0 0 15px rgb(143, 204, 241), 0 0 30px rgb(143, 204, 241);
    padding: 150px 35%;
    color: white;
    font-weight: lighter;
    font-style:oblique; 
}
.quote p{
    font-size: 20px;
}
.join_matrix{
    
    flex-direction: row;
    justify-content: space-around;
    align-content:center;
    padding: 50px 30%;
    
}
.footer{
    background: fixed;
    background-color: black;
    padding: 10px 40%;
}


.player img{
    border-style: none;
    border-radius: 40%;
}

.player img:hover{
    animation: mover 2s infinite alternate;
   
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}



    







  
  
  
   
  
  