*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}


li , a , p,button ,body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header ,.first_part_right{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url(images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    color: white;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    font-size: 50px;
}

.menu_links{
    position:sticky;
    list-style: none;
   
}
.menu_links li{
    display: inline-block;
    padding: 0px 20px;
  
}
.menu_links li a {
    transition: all 0.3s ease 0s;
    color: rgb(143, 204, 241);
}
.menu_links li a:hover {
    color:rgb(0, 136, 168,0.6);
}
button{
    margin-left: 20px;
    padding:9px 25px;
    background-color: rgb(143, 204, 241);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgb(0, 136, 168,0.6);
}
.first_part_right{
    margin-right: 15%;
    
}